# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Audio files
*.mp3

# Uploads folder
uploads/

# VS Code settings
.vscode/

# System files
.DS_Store

# Torch / HuggingFace cache (optional)
.cache/